.cbp-fwslider {
	position: relative;
	margin: 0 auto 8px;
	overflow: hidden;
	max-width: 1700px;
}

.cbp-fwslider ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.cbp-fwslider ul li {
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	transform: translateZ(0);
	float: left;
	display: block;
	margin: 0;
	padding: 0;
}

.cbp-fwslider ul li > a,
.cbp-fwslider ul li > div {
	display: block;
	text-align: center;
	outline: none;
}

.cbp-fwslider ul li > a img {
	border: none;
	display: block;
	margin: 0 auto;
	width: 100%;
}

.cbp-fwslider nav span {
	position: absolute;
	top: 50%;
	width: 50px;
	height: 100px;
	background: rgba(71, 163, 218, 0.5);
	transition:all ease-in-out 0.5s;
	color: #fff;
	font-size: 50px;
	text-align: center;
	margin-top: -50px;
	line-height: 100px;
	cursor: pointer;
	font-weight: normal;
}

.cbp-fwslider nav span:hover {
	background: rgba(88, 176, 61, 0.5);;
	transition:all ease-in-out 0.5s;
}

.cbp-fwslider nav span.cbp-fwnext {
	right: 0px;
	border-radius:8px 0px 0px 8px;
}

.cbp-fwslider nav span.cbp-fwprev {
	left: 0px;
	border-radius:0px 8px 8px 0px;
}

.cbp-fwdots {
	position: absolute;
	bottom: 10%;
	left: 11%;
	white-space: nowrap;
}

.cbp-fwdots span {
	display: inline-block;
	width: 10px;
	height: 10px;
	background: #0b7cb4;
	margin: 13px;
	border-radius: 50%;
	cursor: pointer;
}

.cbp-fwdots span:hover {
	background: #00abff;
}

.cbp-fwdots span.cbp-fwcurrent {
	background: #00abff;
	box-shadow: 0 0 0 4px #b3dcf0;
	-webkit-transition: box-shadow 0.2s ease-in-out;
	-moz-transition: box-shadow 0.2s ease-in-out;
	transition: box-shadow 0.2s ease-in-out;
}
#cbp-fwslider ul li a p.slider_text{
	display:block;
	position:absolute;
	top:27%;
	left: 11%;
	text-align: left;
	max-width: 550px;
}
#cbp-fwslider ul li a p.slider_text span.subheader{
    font-size: 48px;
    color: #004e74;
    font-family: "Intro";
    line-height: 1;
    letter-spacing: -3px;
    padding-bottom: 20px;
}
#cbp-fwslider ul li a p.slider_text span.descrip{
	margin-top: 2%;
	display: block;
    max-width: 420px;
    font-size: 18px;
    color: #2c6886;
    font-family: 'HeliosLightC';
    line-height: 1.3;
}