*{
	margin:0;
	padding:0;
}
body{
	background-color:#ffffff;
}
body a{
	text-decoration:none;
}
.top_header{
	width:970px;
	margin:0 auto;
}
.logo img{
	margin-top:45px;
	margin-right:50px;
}
.top_header ul.menu{
	vertical-align:top;
	display:inline-block;
	list-style-type:none;
}
.top_header ul.menu li{
	display:inline;
}
.top_header ul.menu li a{
	display:inline-block;
	padding:57px 10px 45px 10px;
	text-decoration:none;
	color:#0f2e4a;
	font-size:19px;
	font-family: 'HeliosCondLightC';
	transition-property:color;
	transition-timing-function:ease-in-out;
	transition-duration:0.4s;
	transition-delay:initial;
}
.top_header ul.menu li a:hover{
	color:#00a0ee;
	transition-property:color;
	transition-timing-function:ease-in-out;
	transition-duration:0.4s;
	transition-delay:initial;
}
.top_header ul.menu li a.last{
	padding-right:0px;
}
.top_header ul.menu li a.first, .top_header ul.menu li a:active{
	color:#00a0ee;
}
.menu .menu__list{
	position:relative;
}
.line{
	width:100%;
	padding-bottom:14px;
}
.bottom_header{
	width:100%;
	height:493px;
	background-image:url(../image/header_bg.png);
	background-position:-240pt 0pt;
	background-repeat:no-repeat;
}
.bottom_header_inner{
	width:970px;
	margin:0 auto;
}
.bottom_header_inner p{
	padding-top:140px;
	display:block;
	max-width:550px;
	font-size:48px;
	color:#004e74;
	font-family:"Intro";
	line-height:1;
	letter-spacing:-3px;
	padding-bottom:20px;
}
.bottom_header_inner footer{
	display:block;
	max-width:420px;
	font-size:18px;
	color:#2c6886;
	text-align:left;
	font-family: 'HeliosLightC';
	line-height:1.3;
	margin-bottom:50px;
}
.bottom_header_inner ul li a{
	display:inline-block;
	width:18px;
	height:18px;
	vertical-align:top;
}
.bottom_header_inner ul li{
	list-style-type:none;
	display:inline-block;
	width:10px;
	height:10px;
	background-image:url(../image/blue_marker.png);
	background-repeat:no-repeat;
	margin-right:14px;
	border-radius:10px;
	border:4px solid #eaf5fb;
	transition-property:all;
	transition-timing-function:ease-in-out;
	transition-duration:0.4s;
	transition-delay:initial;
}
.bottom_header_inner ul li span{
	display:inline-block;
	width:100%;
	height:100%;
	vertical-align:top;
	background-image:url(../image/blue_marker.png);
	background-position:10px 0px;
	opacity:0;
	transition-property:all;
	transition-timing-function:ease-in-out;
	transition-duration:0.4s;
	transition-delay:initial;
}
.bottom_header_inner ul li:hover span{
	opacity:1;
	transition-property:all;
	transition-timing-function:ease-in-out;
	transition-duration:0.4s;
	transition-delay:initial;
}
.bottom_header_inner ul li:hover{
	border:4px solid #b3dcf0;
	transition-property:all;
	transition-timing-function:ease-in-out;
	transition-duration:0.4s;
	transition-delay:initial;
}




.blue_field{
	display:inline-block;
	width:100%;
	height:510px;
	background-color:#0b7cb4;
	margin-top: -8px;
}
.blue_field p{
	font-family: 'HeliosLightC';
	font-size:48px;
	color:#ffffff;
	text-transform:uppercase;
	margin:0 auto;
	text-align:center;
	padding-top:75px;
	padding-bottom:30px;
}
.blue_field span{
	display:block;
	max-width:600px;
	margin:0 auto;
	color:#dbf3ff;
	font-size:18px;
	font-family: 'HeliosLightC';
	text-align:center;
	line-height:1.3;
}
.blue_field pre{
	display:block;
	width:50px;
	height:25px;
	margin:0 auto;
	border-bottom:1px solid #8fdaff;
}
.blue_field h6{
	color:#8fdaff;
	font-size:18px;
	margin:0 auto;
	text-align:center;
	font-family: 'HeliosCondLightC-Italic';
	padding-top:25px;
}
.three_forms{
	display:block;
	margin:0 auto;
	text-align:center;
	position:relative;
	margin-top:28px;
}
.form1, .form2, .form3{
	display:inline-block;
	background-color: #ffffff;
	position:relative;
}
.form1{
	margin-right:-4px;
}
.form3{
	margin-left:-4px;
}
.form_header{
	display:inline-block;
	width:316px;
	height:116px;
	position:absolute;
	border:1px solid #ebebeb;
	border-bottom:1px solid transparent;
	top:-116px;
	background-color: #ffffff;
	transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;
    transition-delay: initial;
	border-radius:5px 5px 0 0;
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;

}
.form2 .form_header{
	border-radius:5px 5px 0 0;
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
}
.form1:hover .form_header, .form2:hover .form_header, .form3:hover .form_header{
	height:150px;
	top:-150px;
	border-radius:5px 5px 0 0;
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
	background-color: #87ce71;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;
    transition-delay: initial;
	border-bottom:1px solid #ebebeb;
}
.form_content{
	display:inline-block;
	height: 820px;
	width:316px;
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
	border-bottom: 2px solid #c2c2c3;
	padding-top:70px;
	transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;
    transition-delay: initial;
}
.form1:hover .form_content, .form2:hover .form_content, .form3:hover .form_content{
	background-color:#ecf5f7;
	transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;
    transition-delay: initial;
}
.form_header p{
	font-family: 'IntroCondBlackFree';
    color: #006b9f;
    font-size: 32px;
    text-transform: uppercase;
    padding-top: 22px;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;
    transition-delay: initial;
}
.form1:hover .form_header p, .form2:hover .form_header p, .form3:hover .form_header p{
	padding-top: 36px;
    color: #ffffff;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;
    transition-delay: initial;
}
.line1 span {
    font-family: 'HeliosCondC';
    color: #00a0ee;
    font-size: 24px;
    transition-property: color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;
    transition-delay: initial;
}
.form1:hover .line1 span, .form2:hover .line1 span, .form3:hover .line1 span {
    color: #58b03d;
    transition-property: color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;
    transition-delay: initial;
}
.form_content pre {
    display: block;
    width: 30px;
    height: 1px;
    background-color: #bcc7d5;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 10px;
}
.line2 {
    font-family: 'HeliosCondC';
    color: #b0bece;
    font-size: 24px;
    padding-bottom: 30px;
}
.form1:hover .line2, .form2:hover .line2, .form3:hover .line2, .form1:hover .line4, .form2:hover .line4, .form3:hover .line4 {
    color: #acc1a5;
    transition-property: color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;
    transition-delay: initial;
}
.line3 {
    font-family: 'IntroCondBlackFree';
    color: #6084ac;
    font-size: 18px;
    text-transform: uppercase;
    padding-bottom: 12px;
    transition-property: color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;
    transition-delay: initial;
}
.form1:hover .line3, .form2:hover .line3, .form3:hover .line3{
	color:#6ba35a;
	transition-property: color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;
    transition-delay: initial;
}
.line4 {
    font-family: 'HeliosCondC';
    color: #a4aeb9;
    font-size: 14px;
    line-height: 1.5;
    padding-bottom: 40px;
    transition-property: color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;
    transition-delay: initial;
}
.price1, .price2, .price3 {
    display: inline-block;
    width: 125px;
    height: 125px;
    border-radius: 62px;
    -moz-border-radius: 62px;
    -webkit-border-radius: 62px;
    border: 14px solid #ffffff;
    background-color: #0b7cb4;
    position: absolute;
    top: -60px;
	left:30%;
    box-sizing: border-box;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;
    transition-delay: initial;
}
.price1 p, .price2 p, .price3 p {
    font-family: 'HeliosExtraCompressed';
    color: #ffffff;
    font-size: 43px;
    padding-top: 33px;
}
.form1:hover .price1, .form2:hover .price2, .form3:hover .price3 {
    background-color: #58b03d;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;
    transition-delay: initial;
}
.order {
    display: block;
    width: 145px;
    height: 46px;
    background-color: #e3e4e8;
    border-radius: 25px;
    margin: 0 auto;
    box-sizing: border-box;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;
    transition-delay: initial;
}
.form1:hover .order, .form2:hover .order, .form3:hover .order{
	background-color:#58b03d;
	transition-property:all;
	transition-timing-function:ease-in-out;
	transition-duration:0.4s;
	transition-delay:initial;
}
.order p {
    font-family: 'IntroCondBlackFree';
    text-transform: uppercase;
    color: #a4aeb9;
    font-size: 24px;
    padding-top: 8px;
    transition-property: color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;
    transition-delay: initial;
}
.form1:hover .order p, .form2:hover .order p, .form3:hover .order p{
	color:#ffffff;
	transition-property:color;
	transition-timing-function:ease-in-out;
	transition-duration:0.4s;
	transition-delay:initial;
}
.demo{
	display:block;
	width:970px;
	margin:0 auto;
	text-align:center;
	position:relative;
}
.demo .not_ready{
	font-family: 'HeliosLightC';
	color:#004e74;
	font-size:30px;
	padding-top:55px;
	padding-bottom:43px;
}
.demo div.get_arb{
	display:block;
	width:520px;
	height:78px;
	background-color:#d77438;
	margin:0 auto;
	border-radius:40px;
	box-sizing:border-box;
	margin-bottom:40px;
}
.demo div a{
	width:100%;
	height:100%;
}
.demo div p{
	font-family: 'IntroCondBlackFree';
	text-transform:uppercase;
	color:#ffffff;
	font-size:38px;
	padding-top:18px;
	padding-bottom:18px;
}
.demo span{
	display:block;
	font-family: 'HeliosC';
	font-size:45px;
	color:#004e74;
	padding-bottom: 45px;
	position: relative;
}
/*.testimonials{
	display:block;
	width:100%;
	height:475px;
	background-color:#ecf5f7;
	text-align:center;
}
.testimonials_inner{
	display:block;
	position:relative;
	width:970px;
	margin:0 auto;
}
.testimonials_inner .logotype{
	display:block;
	width:143px;
	height:143px;
	box-sizing:border-box;
	border:14px solid #ffffff;
	border-radius:72px;
	-moz-border-radius:72px;
	-webkit-border-radius:72px;
	background-color:#ecf5f7;
	position:absolute;
	top:-70px;
	left:400px;
}
.testimonials_inner .logotype img{
	padding-top:22px;
	/*padding-left:21px;*/
}

/*.slider{
	display:block;
	margin:0 auto;
}
.slider_left{
	display:inline-block;
	width:51px;
	height:78px;
	background-image:url(../image/slider_blue.png);
	vertical-align:top;
	margin-top:25px;
	transition-property:all;
	transition-timing-function:ease-in-out;
	transition-duration:0.4s;
	transition-delay:initial;
	float:left;
}
.slider_right{
	display:inline-block;
	width:51px;
	height:78px;
	background-image:url(../image/slider_blue.png);
	vertical-align:top;
	margin-top:25px;
	transition-property:all;
	transition-timing-function:ease-in-out;
	transition-duration:0.4s;
	transition-delay:initial;
	float:right;
	background-position:-51px 0px;
}
.slider_left span, .slider_right span{
	display:inline-block;
	width:100%;
	height:100%;
	background-image:url(../image/slider_hover.png);
	opacity:0;
	transition-property:all;
	transition-timing-function:ease-in-out;
	transition-duration:0.4s;
	transition-delay:initial;
}
.slider_right span{
	background-position:-52px 0px;
}
.slider_left:hover span, .slider_right:hover span{
	opacity:1;
	transition-property:all;
	transition-timing-function:ease-in-out;
	transition-duration:0.4s;
	transition-delay:initial;
}*/
.main_slider_inner{
	margin:0 auto;
	display:inline-block;
	width:745px;
	font-family: 'HeliosLightC-Italic';
	color:#326a85;
	font-size:15px;
	line-height:1.5;
}
.main_slider_inner .signature{
	float:right;
	padding-right:50px;
	font-family: 'HeliosLightC-Italic';
	color:#56849a;
	font-size:12px;
}
.main_slider_inner a .source{
	float:right;
	padding-right:50px;
	font-family: 'HeliosLightC-Italic';
	color:#2e9fd6;
	font-size:12px;
	text-decoration:underline;
}
.more_testimonials{
	margin:0 auto;
	margin-top:40px;
	display:block;
	width:330px;
	height:44px;
	border:1px solid #408695;
	border-radius:22px;
	box-sizing:border-box;
	transition-property:all;
	transition-timing-function:ease-in-out;
	transition-duration:0.4s;
	transition-delay:initial;
}
.more_testimonials:hover{
	background-color:#408695;
	transition-property:all;
	transition-timing-function:ease-in-out;
	transition-duration:0.4s;
	transition-delay:initial;
}
.more_testimonials a{
	width:100%;
	height:100%;
}
.more_testimonials p{
	text-transform:uppercase;
	font-family: 'IntroCondBlackFree';
	font-size:18px;
	color:#408695;
	padding-top:10px;
	padding-bottom:10px;
	transition-property:all;
	transition-timing-function:ease-in-out;
	transition-duration:0.4s;
	transition-delay:initial;
}
.more_testimonials:hover p{
	color:#ecf5f7;
	transition-property:all;
	transition-timing-function:ease-in-out;
	transition-duration:0.4s;
	transition-delay:initial;
}
.bottom_part{
	padding-top:80px;
	display:block;
	width:970px;
	margin:0 auto;
}
.bottom_part .articles{
	display:inline-block;
	width:48%;
	vertical-align:top;
}
.bottom_part .videos{
	display:inline-block;
	width:51%;
	vertical-align:top;
}
.bottom_part .articles{
	text-align:left;
}
.main_article{
	font-family: 'IntroCondBlackFree';
	font-size:33px;
	color:#408695;
	text-transform:uppercase;
	padding-bottom:60px;
}
.theme{
	font-family: 'HeliosC-Bold';
	color:#004e74;
	font-size:24px;
	padding-bottom:20px;
}
.description{
	display:block;
	width:350px;
	font-family: 'HeliosC';
	color:#2c6886;
	font-size:16px;
	padding-bottom:25px;
}
.from{
	font-family: 'HeliosLightC-Italic';
	color:#56849a;
	font-size:12px;
}
.comment{
	font-family: 'HeliosLightC-Italic';
	text-decoration:underline;
	font-size:12px;
	padding-bottom:30px;
}
.bottom_part .articles p.comment a{
	color:#2e9fd6;
	transition:color ease-in-out 0.4s;
}
.bottom_part .articles p.comment a:hover{
	color:#58b03d;
	transition:color ease-in-out 0.4s;
}
.underline{
	display:block;
	width:107px;
	height:1px;
	background-color:#e3e4e8;
	margin-bottom:35px;
}
.more_articles{
	display:block;
	width:183px;
	height:34px;
	border:1px solid #408695;
	border-radius:17px;
	box-sizing:border-box;
	transition-property:all;
	transition-timing-function:ease-in-out;
	transition-duration:0.4s;
	transition-delay:initial;
	margin-bottom:55px;
}
.more_articles:hover{
	background-color:#408695;
	transition-property:all;
	transition-timing-function:ease-in-out;
	transition-duration:0.4s;
	transition-delay:initial;
}
.more_articles a{
	width:100%;
	height:100%;
}
.more_articles p{
	text-transform:uppercase;
	font-family: 'IntroCondBlackFree';
	font-size:18px;
	color:#408695;
	padding-top:6px;
	padding-bottom:6px;
	transition-property:all;
	transition-timing-function:ease-in-out;
	transition-duration:0.4s;
	transition-delay:initial;
	text-align:center;
}
.more_articles:hover p{
	color:#ecf5f7;
	transition-property:all;
	transition-timing-function:ease-in-out;
	transition-duration:0.4s;
	transition-delay:initial;
}
.videos{
	text-align:left;
}
.related_videos{
	font-family: 'IntroCondBlackFree';
	font-size:33px;
	color:#408695;
	text-transform:uppercase;
	padding-bottom:70px;
}
.main_video{
	display:inline-block;
	width:493px;
	height:280px;
	background-image:url(../image/video.jpg);
	border:2px solid #0b7cb4;
	transition-property:all;
	transition-timing-function:ease-in-out;
	transition-duration:0.4s;
	transition-delay:initial;
}
.main_video:hover{
	border:2px solid #58b03d;
	transition-property:all;
	transition-timing-function:ease-in-out;
	transition-duration:0.4s;
	transition-delay:initial;
}
.not_main_video:hover{
	border:1px solid #58b03d;
	transition-property:all;
	transition-timing-function:ease-in-out;
	transition-duration:0.4s;
	transition-delay:initial;
}
.main_video span{
	display:inline-block;
	width:100px;
	height:100px;
	border-radius:50px;
	-moz-border-radius:50px;
	-webkit-border-radius:50px;
	background-color:#0b7cb4;
	margin-top:90px;
	margin-left:195px;
	transition-property:all;
	transition-timing-function:ease-in-out;
	transition-duration:0.4s;
	transition-delay:initial;
}
.main_video:hover span{
	transition-property:all;
	transition-timing-function:ease-in-out;
	transition-duration:0.4s;
	transition-delay:initial;
	background-color:#58b03d;
}
.main_video span img{
	padding-top:25px;
	padding-left:40px;
}
.about_main{
	padding-top:7px;
	padding-bottom:50px;
	font-family: 'HeliosC-Bold';
	font-size:20px;
	color:#004e74;
}
.more_videos1, .more_videos2, .more_videos3{
	display:inline-block;
	vertical-align:top;
	width:154px;
	text-align:center;
	color:#5394b4;
	font-family: 'HeliosC';
	padding-right:12px;
	font-size:12px;
}
.more_videos3{
	padding-right:0px;
}
.not_main_video{
	display:block;
	width:150px;
	height:84px;
	background-image:url(../image/video.jpg);
	background-size:154px 88px;
	border:1px solid #0b7cb4;
	transition-property:all;
	transition-timing-function:ease-in-out;
	transition-duration:0.4s;
	transition-delay:initial;
	margin-bottom:20px;
}
.not_main_video span{
	display:inline-block;
	width:32px;
	height:32px;
	border-radius:16px;
	-moz-border-radius:16px;
	-webkit-border-radius:16px;
	background-color:#0b7cb4;
	margin-top:25px;
	margin-left:10px;
	transition-property:all;
	transition-timing-function:ease-in-out;
	transition-duration:0.4s;
	transition-delay:initial;
}
.not_main_video:hover span{
	transition-property:all;
	transition-timing-function:ease-in-out;
	transition-duration:0.4s;
	transition-delay:initial;
	background-color:#58b03d;
}
.not_main_video span img{
	padding-top:8px;
	padding-left:3px;
}
.footer{
	display:block;
	width:100%;
	height:225px;
	background-color:#0b7cb4;
	text-align:center;
}
.footer .sign_up{
	padding-top:25px;
	padding-bottom:25px;
	font-size:33px;
	font-family: 'IntroCondBlackFree';
	color:#ffffff;
}
.e-mail{
	text-align:center;
	width:460px;
	height:47px;
	border-radius:23px;
	-moz-border-radius:23px;
	-webkit-border-radius:23px;
	border: none;
	font-family: 'HeliosLightC-Italic';
	color:#56849a;
	font-size:18px;
	margin-bottom:20px;
    outline: none;
}
::-webkit-input-placeholder {
    color: #56849a;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #56849a;
}
:-ms-input-placeholder {
    color: #56849a;
}
:-moz-placeholder { /* Firefox 18- */
    color: #56849a;
}
.sign{
	display:block;
	margin:0 auto;
	width:150px;
	height:47px;
	border-radius:23px;
	-moz-border-radius:23px;
	-webkit-border-radius:23px;
	background-color:#58b03d;
	box-sizing:border-box;
	transition-property:all;
	transition-timing-function:ease-in-out;
	transition-duration:0.4s;
	transition-delay:initial;
}
.sign p{
	font-family: 'IntroCondBlackFree';
	color:#ffffff;
	font-size:24px;
	padding-top:10px;
	padding-bottom:10px;
	transition-property:color;
	transition-timing-function:ease-in-out;
	transition-duration:0.4s;
	transition-delay:initial;
}
.sign:hover{
	background-color:#ffffff;
	transition-property:all;
	transition-timing-function:ease-in-out;
	transition-duration:0.4s;
	transition-delay:initial;
}
.sign:hover p{
	color:#58b03d;
	transition-property:color;
	transition-timing-function:ease-in-out;
	transition-duration:0.4s;
	transition-delay:initial;
}
.after_footer{
	display:block;
	width:100%;
	background-color:#0670a5;
	color:#ffffff;
}
.after_footer div{
	display:block;
	width:970px;
	height:40px;
	margin:0 auto;
	padding-top:25px;
}
.after_footer div p, .after_footer div span{
	display:inline;
	color:#7abedf;
	font-size:12px;
	font-family: 'HeliosC';
}
.after_footer div p{
	float:left;
}
.after_footer div span{
	float:right;
}
.after_footer div span span{
	color:#a1e0ff;
}
#slider_1{
	background-color: #ecf5f7;
	position:relative;
    margin-top: 1px;
}

.white{
	display:block;
	width:100%;
	background-color: #fff;
	height: 65px;
	z-index:300;
}
.white_left, .white_right{
	display:block;
	position:absolute;
	width: calc((100% - 800px)/2);
	background-color: #fff;
	height: 65px;
	z-index:300;
	top: 0;
}
.white_left{
	right:0;
}
.white_right{
	left:0;
}

#slider_1 .container, #slider_1 .navi, #slider_1 .scrollable, #slider_1 .item{
	width:800px;
}
#slider_1 .container, #slider_1 .scrollable{
	height: 535px;
    background-color: #ecf5f7;
    text-align: center;
}
#slider_1 a.disabled{
	visibility:hidden !important;
}
#slider_1 .container{
	margin:0 auto;
	clear:both;
	position:relative;
}
#slider_1 .scrollable{
	float:left;
	position:relative;
	overflow:hidden;
}
#slider_1 .scrollable .items{
	width:20000em;
	position:absolute;
	clear:both;
}
#slider_1 .items .item{
	float:left;
}
#slider_1 a.browse{
	cursor:pointer;
	margin-left: 20px;
	width:51px;
	height:78px;
	position:absolute;
	top:45%;
	border:none;
	border-radius:0;
	background: url(../image/slider_blue.png) 0 0 no-repeat;
	transition: all ease-in-out 0.5s;
}
#slider_1 a.browse:hover, #slider_1 a.browse:active{
	background: url(../image/slider_hover.png) 0 0 no-repeat;
	transition: all ease-in-out 0.5s;
}
#slider_1 a.left{
	left:-90px;
}
#slider_1 a.right{
	transform: scale(-1, 1)
}
#slider_1 .items .img{
	display: block;
    width: 143px;
    height: 143px;
    box-sizing: border-box;
    border: 14px solid #ffffff;
    border-radius: 72px;
    -moz-border-radius: 72px;
    -webkit-border-radius: 72px;
    background-color: #ecf5f7;
    margin: -70px auto 0px;
	z-index:999;
}
#slider_1 .items .img img{
	max-width:106px;
	max-height:106px;
	display:block;
	margin:0 auto;
    padding-top: 22px;
}
#slider_1 .items .opel img{
	padding-top: 17px;
}
#slider_1 .items .nissan img{
	padding-top: 13px;
}
#slider_1 .items .content{
	width:650px;
	float:left;
	font-family:arial, sans-serif;
	margin:0 0 0 75px;
}
#slider_1 .items .content p.head{
	font-family: 'HeliosCondC-BoldItalic';
    color: #004e74;
    font-size: 22px;
    padding-left: 20px;
    padding-right: 20px;
	margin:20px 20px 45px 17px;
	display:inline-block;
}
.quotes_left, .quotes_right{
	display:inline-block;
	width: 38px;
	height: 25px;
	background-image:url(../image/quotes.png);
	background-repeat:no-repeat;
}
.quotes_right{
	background-position:-38px 0px;
}
#slider_1 .items .content .name{
	margin-left: 50px;
}
#slider_1 .items .content .text p{
	max-width: 745px;
    font-family: 'HeliosLightC-Italic';
    color: #326a85;
    font-size: 15px;
    line-height: 1.5;
	padding:0;
	margin:0;
}
.more_testimonials {
	margin: 0 auto;
    margin-top: 40px;
    display: block;
    width: 330px;
    height: 44px;
    border: 1px solid #408695;
    border-radius: 22px;
    box-sizing: border-box;
    transition:all ease-in-out 0.5s;
}
.more_testimonials p {
    text-transform: uppercase;
    font-family: 'IntroCondBlackFree';
    font-size: 18px;
    color: #408695;
    padding-top: 10px;
    padding-bottom: 10px;
    transition:all ease-in-out 0.5s;
}