@font-face {
  font-family: 'HeliosLightC';
  src: url('HeliosLightC.eot');
  src: url('HeliosLightC.eot?#iefix') format('embedded-opentype'),
       url('HeliosLightC.woff') format('woff'),
       url('HeliosLightC.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

