@font-face {
  font-family: 'HeliosCondLightC-Italic';
  src: url('HeliosCondLightC-Italic.eot');
  src: url('HeliosCondLightC-Italic.eot?#iefix') format('embedded-opentype'),
       url('HeliosCondLightC-Italic.woff') format('woff'),
       url('HeliosCondLightC-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

