@font-face {
  font-family: 'HeliosExtraCompressed';
  src: url('HeliosExtraCompressed.eot');
  src: url('HeliosExtraCompressed.eot?#iefix') format('embedded-opentype'),
       url('HeliosExtraCompressed.woff') format('woff'),
       url('HeliosExtraCompressed.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

