@font-face {
  font-family: 'HeliosCondC';
  src: url('HeliosCondC.eot');
  src: url('HeliosCondC.eot?#iefix') format('embedded-opentype'),
       url('HeliosCondC.woff') format('woff'),
       url('HeliosCondC.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

