@font-face {
  font-family: 'HeliosLightC-Italic';
  src: url('HeliosLightC-Italic.eot');
  src: url('HeliosLightC-Italic.eot?#iefix') format('embedded-opentype'),
       url('HeliosLightC-Italic.woff') format('woff'),
       url('HeliosLightC-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

