@font-face {
  font-family: 'HeliosC-Bold';
  src: url('HeliosC-Bold.eot');
  src: url('HeliosC-Bold.eot?#iefix') format('embedded-opentype'),
       url('HeliosC-Bold.woff') format('woff'),
       url('HeliosC-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

