@font-face {
  font-family: 'HeliosC';
  src: url('HeliosC.eot');
  src: url('HeliosC.eot?#iefix') format('embedded-opentype'),
       url('HeliosC.woff') format('woff'),
       url('HeliosC.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

