@font-face {
  font-family: 'HeliosCondC-BoldItalic';
  src: url('HeliosCondC-BoldItalic.eot');
  src: url('HeliosCondC-BoldItalic.eot?#iefix') format('embedded-opentype'),
       url('HeliosCondC-BoldItalic.woff') format('woff'),
       url('HeliosCondC-BoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

