@font-face {
  font-family: 'HeliosCondLightC';
  src: url('HeliosCondLightC.eot');
  src: url('HeliosCondLightC.eot?#iefix') format('embedded-opentype'),
       url('HeliosCondLightC.woff') format('woff'),
       url('HeliosCondLightC.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

